<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <span class="footer-text">SOFT</span>
        <span>Copyright © 2021 Soft by Creative Tim.</span>
      </div>
      <div class="footer-container2">
        <div class="footer-container3">
          <span class="footer-text02 large">Company</span>
          <span class="footer-text03 large">About Us</span>
          <span class="footer-text04 large">Careers</span>
          <span class="footer-text05 large">Press</span>
        </div>
        <div class="footer-container4">
          <span class="footer-text06 large">Pages</span>
          <span class="footer-text07 large">Login</span>
          <span class="footer-text08 large">Register</span>
          <span class="footer-text09 large">About</span>
        </div>
        <div class="footer-container5">
          <span class="footer-text10 large">Products</span>
          <span class="footer-text11 large">Free</span>
          <span class="footer-text12 large">PRO</span>
          <span class="footer-text13 large">Latest</span>
        </div>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/waves-white.svg"
      class="footer-image"
    />
  </footer>
</div>
